
.item{
  display: inline-block;
height: 550px;
width: 400px;
background-color: rgb(239, 244, 244);
margin: 20px;
border-radius: 15px;
box-shadow: 5px 5px 5px 1px rgb(28, 25, 25);
}

.flex-container{
  /* display: flex; */
justify-content: center;
text-align: center;
transform: ;
}

.title{

font-size: 40px;

}

a{
text-decoration: none;
font-size: 25px;

}

.item:hover{
background-color: rgb(202, 217, 221);
transform: 1s;


}

a:hover{
color: rgb(176, 16, 16);
transform: 1s;
}


.link{
border: 2px solid blue;

}


